@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cedarville Cursive", cursive;
}

html {
  font-size: 65.0%;
}

body {
  /* background: linear-gradient(#ff0000, #4d5bff); */
  /* background: radial-gradient(#2193b0, #6dd5ed) */
  background: linear-gradient(#de6262, #ffb88c)
}

img{
  size: 2%;
}

.card {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.center {
  min-width: 50vw;
  height: 40vh;
  color: #000;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 800px) {
  html {
    font-size: 35%;
  }
}

p::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

p:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #f7bb97;
  z-index: -1;
  transition: transform .3s ease;
}